* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* ======================
   WRAPPER
====================== */
.wrapper {
    max-width: 1100px;
    margin: auto;
}

/* ======================
   HEADER
====================== */
.header {
    background: red;
    color: white;
    padding: 30px;
}

/* ======================
   NAVBAR
====================== */
.nav {
    background: rgb(172, 0, 0);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 6px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.nav a:hover {
    background: rgba(255,255,255,0.25);
}

.nav a.active {
    background: white;
    color: red;
    font-weight: bold;
}

/* ======================
   LAYOUT
====================== */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* ======================
   CONTENT
====================== */
.content {
    flex: 3;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.content:hover {
    transform: translateY(-5px);
}

.content h2 {
    margin-bottom: 10px;
}

.content p {
    line-height: 1.7;
    color: #333;
}

/* ======================
   SIDEBAR
====================== */
.sidebar {
    flex: 1;
    background: #e5e7eb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* ======================
   FORM
====================== */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#searchNama {
    margin: 10px 0 20px;
}

#filterJurusan {
    margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;
}

input:focus,
select:focus {
    outline: none;
    border-color: red;
    box-shadow: 0 0 0 3px rgba(255,0,0,0.25);
}

/* ======================
   BUTTON
====================== */
button {
    background: linear-gradient(135deg, #ff0000, #b00000);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(255,0,0,0.35);
}

.btn {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    min-width: 70px;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px) scale(1.05);
}

/* ======================
   FOOTER
====================== */
.footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

small {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
}

#hasil {
    margin-top: 30px;
    padding: 20px;
    background: #ecfeff;
    border-left: 6px solid red;
    border-radius: 10px;
    display: none;
}

#hasil h3 {
    margin-top: 0;
}

#hasil p {
    margin: 6px 0;
}

#hasil {
    animation: fade 0.6s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background: red;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

.btn-hapus {
    background: crimson;
    color: white;
}

.btn-edit {
    background: orange;
    color: white;
}

/* ======================
   RESPONSIVE
====================== */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .nav {
        text-align: center;
    }

    .nav a {
        display: inline-block;
        margin: 6px;
    }
}

/* Dark Mode */
.theme-btn {
    margin-top: 15px;
    background: white;
    color: red;
    box-shadow: none;
}

.theme-btn:hover {
    transform: none;
}

body {
    transition: background 0.3s ease, color 0.3s ease;
}

/* Global Dark */
body.dark-mode {
    background: #121212;
    color: #f1f1f1;
}

/* Content & Sidebar */
body.dark-mode .content,
body.dark-mode .sidebar {
    background: #1e1e1e;
    color: #f1f1f1;
    
}

/* Table */
body.dark-mode th {
    background: #333;
}

body.dark-mode tr:nth-child(even) {
    background: #222;
}

/* Form */
body.dark-mode input,
body.dark-mode select {
    background: #2a2a2a;
    color: white;
    border: 1px solid #444;
}

/* Foter */
body.dark-mode .footer {
    background: #000;
}